# R environment
.Renviron

# Generated Quarto files
docs/*.html
docs/site_libs/
docs/*_files/

# Local scripts (if not essential)
*.Rprofile

.Rproj.user
.Rhistory
.RData
.Ruserdata

**/.quarto/*
.Rproj.user
data/**
**/*_cache/*
*_files/*
**/*_freeze/*
**/*tsv*
**/*csv*
**/*xlsx*
**/*zip
**/*pdf
**/*json
**/*rds
.DS_Store
.Rhistory
/.quarto/*
**/gganim*
/.quarto/FinalProject.html
